In [1]:
import pandas as pd
import numpy as np

In [2]:
import sqlite3

conn = sqlite3.connect('movie.db')
db_data = pd.read_sql_query("select * from movie250", conn)
db_data.head()

,id,info_link,pic_link,cname,ename,score,rated,instr,info
0,1,https://movie.douban.com/subject/1292052/,https://img2.doubanio.com/view/photo/s_ratio_p...,肖申克的救赎,The Shawshank Redemption,9.7,2598133,希望让人自由,导演: 弗兰克·德拉邦特 Frank Darabont 主演: 蒂姆·罗宾斯 Tim R...
1,2,https://movie.douban.com/subject/1291546/,https://img3.doubanio.com/view/photo/s_ratio_p...,霸王别姬,,9.6,1929614,风华绝代,导演: 陈凯歌 Kaige Chen 主演: 张国荣 Leslie Cheung 张...
2,3,https://movie.douban.com/subject/1292720/,https://img2.doubanio.com/view/photo/s_ratio_p...,阿甘正传,Forrest Gump,9.5,1952565,一部美国近现代史,导演: 罗伯特·泽米吉斯 Robert Zemeckis 主演: 汤姆·汉克斯 Tom ...
3,4,https://movie.douban.com/subject/1292722/,https://img9.doubanio.com/view/photo/s_ratio_p...,泰坦尼克号,Titanic,9.4,1913757,失去的才是永恒的,导演: 詹姆斯·卡梅隆 James Cameron 主演: 莱昂纳多·迪卡普里奥 Leo...
4,5,https://movie.douban.com/subject/1295644/,https://img2.doubanio.com/view/photo/s_ratio_p...,这个杀手不太冷,Léon,9.4,2106540,怪蜀黍和小萝莉不得不说的故事,导演: 吕克·贝松 Luc Besson 主演: 让·雷诺 Jean Reno 娜塔...

In [4]:
datas = pd.read_csv('HollywoodsMostProfitableStories.csv')

In [7]:
datas.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience  score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross'],
      dtype='object')

In [5]:
datas.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,27 Dresses,Comedy,Fox,71.0,5.343622,40.0,160.308654,2008
1,(500) Days of Summer,Comedy,Fox,81.0,8.096000,87.0,60.720000,2009
2,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.972895,2011
3,A Serious Man,Drama,Universal,64.0,4.382857,89.0,30.680000,2009
4,Across the Universe,Romance,Independent,84.0,0.652603,54.0,29.367143,2007

# 查询相关

In [6]:
datas.set_index('Year', inplace=True)

In [10]:
datas.loc[ (datas['Audience  score %']>=80) & (datas['Rotten Tomatoes %']>=90) , :]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross
Year,,,,,,,
2007,Enchanted,Comedy,Disney,80.0,4.005737,93.0,340.487652
2007,Knocked Up,Comedy,Universal,83.0,6.636402,91.0,219.001261
2011,Midnight in Paris,Romance,Sony,84.0,8.744706,93.0,148.660000
2008,WALL-E,Animation,Disney,89.0,2.896019,96.0,521.283432

In [11]:
datas.loc[lambda df:(datas['Audience  score %']>=80) & (datas['Rotten Tomatoes %']<=80) , :]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross
Year,,,,,,,
2011,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.972895
2007,Across the Universe,Romance,Independent,84.0,0.652603,54.0,29.367143
2007,P.S. I Love You,Romance,Independent,82.0,5.103117,21.0,153.093505
2008,Sex and the City,Comedy,Warner Bros.,81.0,7.221796,49.0,415.253258
2008,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81.0,1.783944,73.0,285.431000
2008,Twilight,Romance,Summit,82.0,10.180027,49.0,376.661000

# 新增数据列的方式

In [17]:
datas.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience  score %    float64
Profitability        float64
Rotten Tomatoes %    float64
Worldwide Gross      float64
dtype: object

In [33]:
datas.loc[datas['Film'] == 'Something Borrowed']

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,分差
Year,,,,,,,,
2011,Something Borrowed,Romance,Independent,0,1.719514,0,60.183,0

In [26]:
datas.loc[datas['Film']=='Something Borrowed', ['Audience  score %', 'Rotten Tomatoes %']] = [0, 0]

In [30]:
datas.loc[:, 'Audience  score %'] = datas['Audience  score %'].astype('int32')
datas.loc[:, 'Rotten Tomatoes %'] = datas['Rotten Tomatoes %'].astype('int32')
datas.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience  score %      int32
Profitability        float64
Rotten Tomatoes %      int32
Worldwide Gross      float64
dtype: object

In [32]:
datas.loc[:, "分差"] = datas['Audience  score %'] - datas['Rotten Tomatoes %']
datas.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,分差
Year,,,,,,,,
2008,27 Dresses,Comedy,Fox,71,5.343622,40,160.308654,31
2009,(500) Days of Summer,Comedy,Fox,81,8.096000,87,60.720000,-6
2011,A Dangerous Method,Drama,Independent,89,0.448645,79,8.972895,10
2009,A Serious Man,Drama,Universal,64,4.382857,89,30.680000,-25
2007,Across the Universe,Romance,Independent,84,0.652603,54,29.367143,30

In [34]:
#对某列的值进行计数：
datas['Genre'].value_counts()

Comedy       41
Romance      15
Drama        13
Animation     3
Action        1
Fantasy       1
Name: Genre, dtype: int64

# 内置统计函数

In [36]:
datas = pd.read_csv('HollywoodsMostProfitableStories.csv')

In [37]:
datas.describe()

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
count,73.000000,71.000000,73.000000,74.000000,74.000000
mean,64.136986,4.741610,47.356164,136.351979,2009.054054
std,13.647665,8.292017,26.242655,157.067561,1.353756
min,35.000000,0.005000,3.000000,0.025000,2007.000000
25%,52.000000,1.790680,27.000000,32.447500,2008.000000
50%,64.000000,2.642353,45.000000,73.198612,2009.000000
75%,76.000000,4.850958,65.000000,190.185250,2010.000000
max,89.000000,66.934000,96.000000,709.820000,2011.000000

In [38]:
datas.cov()

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Audience score %,186.258752,4.745558,215.603311,851.959076,-3.364916
Profitability,4.745558,68.757551,5.215481,193.237626,-1.821011
Rotten Tomatoes %,215.603311,5.215481,688.676941,81.830037,-2.343227
Worldwide Gross,851.959076,193.237626,81.830037,24670.218767,-26.912686
Year,-3.364916,-1.821011,-2.343227,-26.912686,1.832655

In [39]:
datas.corr()

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Audience score %,1.000000,0.042083,0.601990,0.395357,-0.183528
Profitability,0.042083,1.000000,0.024210,0.146705,-0.162404
Rotten Tomatoes %,0.601990,0.024210,1.000000,0.019748,-0.066465
Worldwide Gross,0.395357,0.146705,0.019748,1.000000,-0.126570
Year,-0.183528,-0.162404,-0.066465,-0.126570,1.000000

In [40]:
datas['Audience  score %'].cov(datas['Year'])

-3.3649162861491626