In [1]:
import pandas as pd
import numpy as np

In [2]:
import sqlite3

conn = sqlite3.connect('movie.db')
db_data = pd.read_sql_query("select * from movie250", conn)
db_data.head()

,id,info_link,pic_link,cname,ename,score,rated,instr,info
0,1,https://movie.douban.com/subject/1292052/,https://img2.doubanio.com/view/photo/s_ratio_p...,肖申克的救赎,The Shawshank Redemption,9.7,2598133,希望让人自由,导演: 弗兰克·德拉邦特 Frank Darabont 主演: 蒂姆·罗宾斯 Tim R...
1,2,https://movie.douban.com/subject/1291546/,https://img3.doubanio.com/view/photo/s_ratio_p...,霸王别姬,,9.6,1929614,风华绝代,导演: 陈凯歌 Kaige Chen 主演: 张国荣 Leslie Cheung 张...
2,3,https://movie.douban.com/subject/1292720/,https://img2.doubanio.com/view/photo/s_ratio_p...,阿甘正传,Forrest Gump,9.5,1952565,一部美国近现代史,导演: 罗伯特·泽米吉斯 Robert Zemeckis 主演: 汤姆·汉克斯 Tom ...
3,4,https://movie.douban.com/subject/1292722/,https://img9.doubanio.com/view/photo/s_ratio_p...,泰坦尼克号,Titanic,9.4,1913757,失去的才是永恒的,导演: 詹姆斯·卡梅隆 James Cameron 主演: 莱昂纳多·迪卡普里奥 Leo...
4,5,https://movie.douban.com/subject/1295644/,https://img2.doubanio.com/view/photo/s_ratio_p...,这个杀手不太冷,Léon,9.4,2106540,怪蜀黍和小萝莉不得不说的故事,导演: 吕克·贝松 Luc Besson 主演: 让·雷诺 Jean Reno 娜塔...

In [9]:
datas = pd.read_csv('HollywoodsMostProfitableStories.csv')

In [10]:
datas.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience  score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

# 查询相关

In [11]:
datas.set_index('Year', inplace=True)
datas.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross
Year,,,,,,,
2008,27 Dresses,Comedy,Fox,71.0,5.343622,40.0,160.308654
2009,(500) Days of Summer,Comedy,Fox,81.0,8.096000,87.0,60.720000
2011,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.972895
2009,A Serious Man,Drama,Universal,64.0,4.382857,89.0,30.680000
2007,Across the Universe,Romance,Independent,84.0,0.652603,54.0,29.367143

In [21]:
# datas.loc[ (datas['Audience  score %']>=80) & (datas['Rotten Tomatoes %']>=90) , :]
datas.loc[ (datas['Audience  score %']>=80) & (datas['Rotten Tomatoes %']>=90) , :]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross
Year,,,,,,,
2007,Enchanted,Comedy,Disney,80.0,4.005737,93.0,340.487652
2007,Knocked Up,Comedy,Universal,83.0,6.636402,91.0,219.001261
2011,Midnight in Paris,Romance,Sony,84.0,8.744706,93.0,148.660000
2008,WALL-E,Animation,Disney,89.0,2.896019,96.0,521.283432

In [11]:
datas.loc[lambda df:(datas['Audience  score %']>=80) & (datas['Rotten Tomatoes %']<=80) , :]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross
Year,,,,,,,
2011,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.972895
2007,Across the Universe,Romance,Independent,84.0,0.652603,54.0,29.367143
2007,P.S. I Love You,Romance,Independent,82.0,5.103117,21.0,153.093505
2008,Sex and the City,Comedy,Warner Bros.,81.0,7.221796,49.0,415.253258
2008,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81.0,1.783944,73.0,285.431000
2008,Twilight,Romance,Summit,82.0,10.180027,49.0,376.661000

# 新增数据列的方式

In [17]:
datas.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience  score %    float64
Profitability        float64
Rotten Tomatoes %    float64
Worldwide Gross      float64
dtype: object

In [33]:
datas.loc[datas['Film'] == 'Something Borrowed']

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,分差
Year,,,,,,,,
2011,Something Borrowed,Romance,Independent,0,1.719514,0,60.183,0

In [26]:
datas.loc[datas['Film']=='Something Borrowed', ['Audience  score %', 'Rotten Tomatoes %']] = [0, 0]

In [30]:
datas.loc[:, 'Audience  score %'] = datas['Audience  score %'].astype('int32')
datas.loc[:, 'Rotten Tomatoes %'] = datas['Rotten Tomatoes %'].astype('int32')
datas.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience  score %      int32
Profitability        float64
Rotten Tomatoes %      int32
Worldwide Gross      float64
dtype: object

In [32]:
datas.loc[:, "分差"] = datas['Audience  score %'] - datas['Rotten Tomatoes %']
datas.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,分差
Year,,,,,,,,
2008,27 Dresses,Comedy,Fox,71,5.343622,40,160.308654,31
2009,(500) Days of Summer,Comedy,Fox,81,8.096000,87,60.720000,-6
2011,A Dangerous Method,Drama,Independent,89,0.448645,79,8.972895,10
2009,A Serious Man,Drama,Universal,64,4.382857,89,30.680000,-25
2007,Across the Universe,Romance,Independent,84,0.652603,54,29.367143,30

In [34]:
#对某列的值进行计数：
datas['Genre'].value_counts()

Comedy       41
Romance      15
Drama        13
Animation     3
Action        1
Fantasy       1
Name: Genre, dtype: int64

# 内置统计函数

In [36]:
datas = pd.read_csv('HollywoodsMostProfitableStories.csv')

In [37]:
datas.describe()

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
count,73.000000,71.000000,73.000000,74.000000,74.000000
mean,64.136986,4.741610,47.356164,136.351979,2009.054054
std,13.647665,8.292017,26.242655,157.067561,1.353756
min,35.000000,0.005000,3.000000,0.025000,2007.000000
25%,52.000000,1.790680,27.000000,32.447500,2008.000000
50%,64.000000,2.642353,45.000000,73.198612,2009.000000
75%,76.000000,4.850958,65.000000,190.185250,2010.000000
max,89.000000,66.934000,96.000000,709.820000,2011.000000

In [38]:
datas.cov()

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Audience score %,186.258752,4.745558,215.603311,851.959076,-3.364916
Profitability,4.745558,68.757551,5.215481,193.237626,-1.821011
Rotten Tomatoes %,215.603311,5.215481,688.676941,81.830037,-2.343227
Worldwide Gross,851.959076,193.237626,81.830037,24670.218767,-26.912686
Year,-3.364916,-1.821011,-2.343227,-26.912686,1.832655

In [39]:
datas.corr()

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Audience score %,1.000000,0.042083,0.601990,0.395357,-0.183528
Profitability,0.042083,1.000000,0.024210,0.146705,-0.162404
Rotten Tomatoes %,0.601990,0.024210,1.000000,0.019748,-0.066465
Worldwide Gross,0.395357,0.146705,0.019748,1.000000,-0.126570
Year,-0.183528,-0.162404,-0.066465,-0.126570,1.000000

In [40]:
datas['Audience  score %'].cov(datas['Year'])

-3.3649162861491626

# 排序函数：

serise排序：

In [25]:
datas['Rotten Tomatoes %'].sort_values(ascending=False, inplace=False)

Year
2008    96.0
2011    93.0
2007    93.0
2007    91.0
2009    89.0
        ...
2007     8.0
2011     8.0
2011     6.0
2007     3.0
2011     NaN
Name: Rotten Tomatoes %, Length: 74, dtype: float64

DF排序

In [26]:
# 指定单列
datas.sort_values(by='Rotten Tomatoes %', ascending=False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross
Year,,,,,,,
2008,WALL-E,Animation,Disney,89.0,2.896019,96.0,521.283432
2011,Midnight in Paris,Romance,Sony,84.0,8.744706,93.0,148.660000
2007,Enchanted,Comedy,Disney,80.0,4.005737,93.0,340.487652
2007,Knocked Up,Comedy,Universal,83.0,6.636402,91.0,219.001261
2010,Tangled,Animation,Disney,88.0,1.365692,89.0,355.080000
...,...,...,...,...,...,...,...
2007,License to Wed,Comedy,Warner Bros.,55.0,1.980206,8.0,69.307224
2011,New Year's Eve,Romance,Warner Bros.,48.0,2.536429,8.0,142.040000
2011,Waiting For Forever,Romance,Independent,53.0,0.005000,6.0,0.025000
2007,Good Luck Chuck,Comedy,Lionsgate,61.0,2.367685,3.0,59.192128
2011,Something Borrowed,Romance,Independent,NaN,1.719514,NaN,60.183000

In [27]:
# 指定多列,越靠前优先级越高：
datas.sort_values(by=['Rotten Tomatoes %','Audience  score %'], ascending=[False, False])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross
Year,,,,,,,
2008,WALL-E,Animation,Disney,89.0,2.896019,96.0,521.283432
2011,Midnight in Paris,Romance,Sony,84.0,8.744706,93.0,148.660000
2007,Enchanted,Comedy,Disney,80.0,4.005737,93.0,340.487652
2007,Knocked Up,Comedy,Universal,83.0,6.636402,91.0,219.001261
2010,Tangled,Animation,Disney,88.0,1.365692,89.0,355.080000
...,...,...,...,...,...,...,...
2007,License to Wed,Comedy,Warner Bros.,55.0,1.980206,8.0,69.307224
2011,New Year's Eve,Romance,Warner Bros.,48.0,2.536429,8.0,142.040000
2011,Waiting For Forever,Romance,Independent,53.0,0.005000,6.0,0.025000
2007,Good Luck Chuck,Comedy,Lionsgate,61.0,2.367685,3.0,59.192128
2011,Something Borrowed,Romance,Independent,NaN,1.719514,NaN,60.183000

# 字符串操作

In [28]:
datas['Lead Studio'].str

In [39]:
# 对str使用startswith、contains等得到bool的Serise，可用作条件查询
condiction = datas['Lead Studio'].str.startswith('Sony', na=False)

In [40]:
condiction

Year
2008    False
2009    False
2011    False
2009    False
2007    False
        ...
2008    False
2010    False
2010    False
2010    False
2008    False
Name: Lead Studio, Length: 74, dtype: bool

In [41]:
datas[condiction].head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross
Year,,,,,,,
2010,Dear John,Drama,Sony,66.0,4.598800,29.0,114.970000
2008,Made of Honor,Comedy,Sony,61.0,2.649068,13.0,105.962734
2011,Midnight in Paris,Romance,Sony,84.0,8.744706,93.0,148.660000
2008,Nick and Norah's Infinite Playlist,Comedy,Sony,67.0,3.352729,73.0,33.527293

Apply方法：

In [55]:
pokemon = pd.read_excel('pokemon.xlsx')
pokemon.set_index('#', inplace=True, drop=False)
pokemon

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
#,,,,,,,,,,
001,001,Bulbasaur,GRASS,318,45,49,49,65,65,45
001,001,Bulbasaur,POISON,318,45,49,49,65,65,45
002,002,Ivysaur,GRASS,405,60,62,63,80,80,60
002,002,Ivysaur,POISON,405,60,62,63,80,80,60
003,003,Venusaur,GRASS,525,80,82,83,100,100,80
...,...,...,...,...,...,...,...,...,...,...
716,716,Xerneas,FAIRY,680,126,131,95,131,98,99
717,717,Yveltal,DARK,680,126,131,95,131,98,99
717,717,Yveltal,FLYING,680,126,131,95,131,98,99
718,718,Zygarde,DRAGON,600,108,100,121,81,95,95
718,718,Zygarde,GROUND,600,108,100,121,81,95,95

In [54]:
pokemon['攻击与特攻的差值'] = pokemon.apply(lambda x : x['Attack']-x['Special Attack'],axis = 1)
pokemon

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed,攻击与特攻的差值
#,,,,,,,,,,,
001,001,Bulbasaur,GRASS,318,45,49,49,65,65,45,-16
001,001,Bulbasaur,POISON,318,45,49,49,65,65,45,-16
002,002,Ivysaur,GRASS,405,60,62,63,80,80,60,-18
002,002,Ivysaur,POISON,405,60,62,63,80,80,60,-18
003,003,Venusaur,GRASS,525,80,82,83,100,100,80,-18
...,...,...,...,...,...,...,...,...,...,...,...
716,716,Xerneas,FAIRY,680,126,131,95,131,98,99,0
717,717,Yveltal,DARK,680,126,131,95,131,98,99,0
717,717,Yveltal,FLYING,680,126,131,95,131,98,99,0
718,718,Zygarde,DRAGON,600,108,100,121,81,95,95,19
718,718,Zygarde,GROUND,600,108,100,121,81,95,95,19

# 聚合操作

In [58]:
# 单列聚合
pokemon.groupby(['Type']).mean()

,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
Type,,,,,,,
BUG,377.197183,56.619718,70.380282,71.549296,53.830986,64.309859,60.507042
DARK,455.938776,70.346939,95.938776,69.653061,75.510204,67.387755,77.102041
DRAGON,522.454545,82.727273,102.568182,84.000000,91.295455,83.977273,77.886364
ELECTRIC,446.607843,63.333333,69.627451,66.411765,89.862745,73.607843,83.764706
FAIRY,395.647059,69.441176,57.029412,63.970588,72.529412,79.676471,53.000000
FIGHTING,464.862745,74.882353,102.666667,73.254902,67.215686,72.117647,74.725490
FIRE,458.790323,70.080645,82.467742,67.112903,89.629032,73.016129,76.483871
FLYING,448.780000,70.830000,79.030000,67.310000,74.930000,70.770000,85.910000
GHOST,434.911111,62.755556,77.977778,80.888889,76.044444,75.066667,62.177778
GRASS,414.935484,66.075269,73.225806,72.892473,71.989247,70.677419,60.075269
GROUND,427.467742,75.145161,88.951613,83.241935,58.016129,62.241935,59.870968
ICE,464.405405,78.594595,81.027027,76.567568,82.108108,79.405405,66.702703
NORMAL,398.370000,76.810000,72.400000,58.800000,56.030000,62.800000,71.530000
POISON,394.950820,62.557377,68.836066,63.967213,68.590164,67.049180,63.950820
PSYCHIC,465.710843,70.819277,69.337349,71.795181,92.831325,84.373494,76.554217
ROCK,441.607143,66.589286,89.142857,106.267857,57.910714,71.625000,50.071429
STEEL,484.659574,64.638298,92.361702,116.361702,71.574468,82.021277,57.702128
WATER,422.221311,70.352459,71.680328,73.040984,72.967213,69.418033,64.762295

In [65]:
pokemon.groupby(['Type']).agg([np.sum, np.mean, np.std, np.size])

          Total                                 HP                             \
            sum        mean         std size   sum       mean        std size
Type
BUG       26781  377.197183  116.040463   71  4020  56.619718  16.394569   71
DARK      22341  455.938776  110.911641   49  3447  70.346939  20.440514   49
DRAGON    22988  522.454545  140.238245   44  3640  82.727273  27.005911   44
ELECTRIC  22777  446.607843  108.346865   51  3230  63.333333  20.525756   51
FAIRY     13452  395.647059  126.217677   34  2361  69.441176  27.731605   34
FIGHTING  23708  464.862745  113.101197   51  3819  74.882353  22.379139   51
FIRE      28445  458.790323  111.549612   62  4345  70.080645  19.939497   62
FLYING    44878  448.780000  117.756432  100  7083  70.830000  21.213230  100
GHOST     19571  434.911111  105.938409   45  2824  62.755556  29.349892   45
GRASS     38589  414.935484  101.490394   93  6145  66.075269  19.050982   93
GROUND    26503  427.467742  110.858456   62  4659  75.145161  25.044123   62
ICE       17183  464.405405  116.910094   37  2908  78.594595  26.636920   37
NORMAL    39837  398.370000  113.361374  100  7681  76.810000  36.083432  100
POISON    24092  394.950820   98.808304   61  3816  62.557377  18.934558   61
PSYCHIC   38654  465.710843  132.285218   83  5878  70.819277  26.428987   83
ROCK      24730  441.607143   94.436256   56  3729  66.589286  22.035324   56
STEEL     22779  484.659574  101.401543   47  3038  64.638298  17.324807   47
WATER     51511  422.221311  106.344949  122  8583  70.352459  27.193194  122

         Attack              ... Special Attack      Special Defense  \
            sum        mean  ...            std size             sum
Type                         ...
BUG        4997   70.380282  ...      25.782600   71            4566
DARK       4701   95.938776  ...      30.022993   49            3302
DRAGON     4513  102.568182  ...      39.057250   44            3695
ELECTRIC   3551   69.627451  ...      29.505267   51            3754
FAIRY      1939   57.029412  ...      32.697174   34            2709
FIGHTING   5236  102.666667  ...      33.005038   51            3678
FIRE       5113   82.467742  ...      31.172305   62            4527
FLYING     7903   79.030000  ...      31.035091  100            7077
GHOST      3509   77.977778  ...      32.768441   45            3378
GRASS      6810   73.225806  ...      25.306596   93            6573
GROUND     5515   88.951613  ...      23.254467   62            3859
ICE        2998   81.027027  ...      30.996222   37            2938
NORMAL     7240   72.400000  ...      23.413911  100            6280
POISON     4199   68.836066  ...      29.191538   61            4090
PSYCHIC    5755   69.337349  ...      38.025607   83            7003
ROCK       4992   89.142857  ...      22.958680   56            4011
STEEL      4341   92.361702  ...      33.591371   47            3855
WATER      8745   71.680328  ...      27.026444  122            8469

                                    Speed
               mean        std size   sum       mean        std size
Type
BUG       64.309859  31.685324   71  4296  60.507042  31.282982   71
DARK      67.387755  25.886625   49  3778  77.102041  24.281547   49
DRAGON    83.977273  28.174282   44  3427  77.886364  22.881104   44
ELECTRIC  73.607843  22.350909   51  4272  83.764706  27.232031   51
FAIRY     79.676471  34.421382   34  1802  53.000000  25.580532   34
FIGHTING  72.117647  23.553893   51  3811  74.725490  26.754498   51
FIRE      73.016129  22.985735   62  4742  76.483871  24.663467   62
FLYING    70.770000  26.834643  100  8591  85.910000  24.158607  100
GHOST     75.066667  27.520571   45  2798  62.177778  26.805095   45
GRASS     70.677419  20.477539   93  5587  60.075269  26.117309   93
GROUND    62.241935  20.428753   62  3712  59.870968  25.081169   62
ICE       79.405405  31.930880   37  2468  66.702703  25.889578   37
NORMAL    62.800000  24.391587  100  7153  71.530000  27.385558  100
POISON    67.049180  23.101534   61  3901  63.950820  25.063537   61
PSYCHIC   84.373494  28.692529   83  6354  76.554217  36.250905   83
ROCK      71.625000  35.557668   56  2804  50.071429  27.484116   56
STEEL     82.021277  28.356802   47  2712  57.702128  26.703619   47
WATER     69.418033  26.674295  122  7901  64.762295  22.428971  122

[18 rows x 28 columns]

In [61]:
group_result = pokemon.groupby(['Type'])
for name, group in group_result:
    print(name)
    print(group)
    print()

BUG
         #        Name Type  Total  HP  Attack  Defense  Special Attack  \
#
 010   010    Caterpie  BUG    195  45      30       35              20
 011   011     Metapod  BUG    205  50      20       55              25
 012   012  Butterfree  BUG    385  60      45       50              80
 013   013      Weedle  BUG    195  40      35       30              20
 014   014      Kakuna  BUG    205  45      25       50              25
...    ...         ...  ...    ...  ..     ...      ...             ...
 637   637   Volcarona  BUG    550  85      60       65             135
 649   649    Genesect  BUG    600  71     120       95             120
 664   664  Scatterbug  BUG    200  38      35       40              27
 665   665      Spewpa  BUG    213  45      22       60              27
 666   666    Vivillon  BUG    411  80      52       50              90

      Special Defense  Speed
#
 010               20     45
 011               25     30
 012               80     70
 013               20     50
 014               25     35
...               ...    ...
 637              105    100
 649               95     99
 664               25     35
 665               30     29
 666               50     89

[71 rows x 10 columns]

DARK
             #            Name  Type  Total   HP  Attack  Defense  \
#
 130.1   130.1   Mega Gyarados  DARK    640   95     155      109
 197       197         Umbreon  DARK    525   95      65      110
 198       198         Murkrow  DARK    405   60      85       42
 215       215         Sneasel  DARK    430   55      95       55
 228       228        Houndour  DARK    330   45      60       30
 229       229        Houndoom  DARK    500   75      90       50
 229.1   229.1   Mega Houndoom  DARK    600   75      90       90
 248       248       Tyranitar  DARK    600  100     134      110
 248.1   248.1  Mega Tyranitar  DARK    700  100     164      150
 261       261       Poochyena  DARK    220   35      55       35
 262       262       Mightyena  DARK    420   70      90       70
 274       274         Nuzleaf  DARK    340   70      70       40
 275       275         Shiftry  DARK    480   90     100       60
 302       302         Sableye  DARK    380   50      75       75
 318       318        Carvanha  DARK    305   45      90       20
 319       319        Sharpedo  DARK    460   70     120       40
 332       332        Cacturne  DARK    475   70     115       60
 342       342       Crawdaunt  DARK    468   63     120       85
 359       359           Absol  DARK    465   65     130       60
 359.1   359.1      Mega Absol  DARK    565   65     150       60
 359.1   359.1      Mega Absol  DARK    565   65     150       60
 430       430       Honchkrow  DARK    505  100     125       52
 434       434          Stunky  DARK    329   63      63       47
 435       435        Skuntank  DARK    479  103      93       67
 442       442       Spiritomb  DARK    485   50      92      108
 452       452         Drapion  DARK    500   70      90      110
 461       461         Weavile  DARK    510   70     120       65
 491       491         Darkrai  DARK    600   70      90       90
 509       509        Purrloin  DARK    281   41      50       37
 510       510         Liepard  DARK    446   64      88       50
 551       551         Sandile  DARK    292   50      72       35
 552       552        Krokorok  DARK    351   60      82       45
 553       553      Krookodile  DARK    509   95     117       70
 559       559         Scraggy  DARK    348   50      75       70
 560       560         Scrafty  DARK    488   65      90      115
 570       570           Zorua  DARK    330   40      65       40
 571       571         Zoroark  DARK    510   60     105       60
 624       624        Pawniard  DARK    340   45      85       70
 625       625         Bisharp  DARK    490   65     125      100
 629       629         Vullaby  DARK    370   70      55       75
 630       630       Mandibuzz  DARK    510  110      65      105
 633       633           Deino  DARK    300   52      65       50
 634       634        Zweilous  DARK    420   72      85       70
 635       635       Hydreigon  DARK    600   92     105       90
 658       658        Greninja  DARK    530   72      95       67
 675       675         Pangoro  DARK    495   95     124       78
 686       686           Inkay  DARK    288   53      54       53
 687       687         Malamar  DARK    482   86      92       88
 717       717         Yveltal  DARK    680  126     131       95

        Special Attack  Special Defense  Speed
#
 130.1              70              130     81
 197                60              130     65
 198                85               42     91
 215                35               75    115
 228                80               50     65
 229               110               80     95
 229.1             140               90    115
 248                95              100     61
 248.1              95              120     71
 261                30               30     35
 262                60               60     70
 274                60               40     60
 275                90               60     80
 302                65               65     50
 318                65               20     65
 319                95               40     95
 332               115               60     55
 342                90               55     55
 359                75               60     75
 359.1             115               60    115
 359.1             115               60    115
 430               105               52     71
 434                41               41     74
 435                71               61     84
 442                92              108     35
 452                60               75     95
 461                45               85    125
 491               135               90    125
 509                50               37     66
 510                88               50    106
 551                35               35     65
 552                45               45     74
 553                65               70     92
 559                35               70     48
 560                45              115     58
 570                80               40     65
 571               120               60    105
 624                40               40     60
 625                60               70     70
 629                45               65     60
 630                55               95     80
 633                45               50     38
 634                65               70     58
 635               125               90     98
 658               103               71    122
 675                69               71     58
 686                37               46     45
 687                68               75     73
 717               131               98     99

DRAGON
             #                     Name    Type  Total   HP  Attack  Defense  \
#
 006.1   006.1         Mega Charizard X  DRAGON    634   78     130      111
 147       147                  Dratini  DRAGON    300   41      64       45
 148       148                Dragonair  DRAGON    420   61      84       65
 149       149                Dragonite  DRAGON    600   91     134       95
 181.1   181.1            Mega Ampharos  DRAGON    610   90      95      105
 230       230                  Kingdra  DRAGON    540   75      95       95
 329       329                  Vibrava  DRAGON    340   50      70       50
 330       330                   Flygon  DRAGON    520   80     100       80
 334       334                  Altaria  DRAGON    490   75      70       90
 371       371                    Bagon  DRAGON    300   45      75       60
 372       372                  Shelgon  DRAGON    420   65      95      100
 373       373                Salamence  DRAGON    600   95     135       80
 380       380                   Latias  DRAGON    600   80      80       90
 381       381                   Latios  DRAGON    600   80      90       80
 384       384                 Rayquaza  DRAGON    680  105     150       90
 443       443                    Gible  DRAGON    300   58      70       45
 444       444                   Gabite  DRAGON    410   68      90       65
 445       445                 Garchomp  DRAGON    600  108     130       95
 445.1   445.1            Mega Garchomp  DRAGON    700  108     170      115
 483       483                   Dialga  DRAGON    680  100     120      120
 484       484                   Palkia  DRAGON    680   90     120      100
 487       487  Giratina- Altered Forme  DRAGON    680  150     100      120
 487.1   487.1   Giratina- Origin Forme  DRAGON    680  150     120      100
 610       610                     Axew  DRAGON    320   46      87       60
 611       611                  Fraxure  DRAGON    410   66     117       70
 612       612                  Haxorus  DRAGON    540   76     147       90
 621       621                Druddigon  DRAGON    485   77     120       90
 633       633                    Deino  DRAGON    300   52      65       50
 634       634                 Zweilous  DRAGON    420   72      85       70
 635       635                Hydreigon  DRAGON    600   92     105       90
 643       643                 Reshiram  DRAGON    680  100     120      100
 644       644                   Zekrom  DRAGON    680  100     150      120
 646       646                   Kyurem  DRAGON    660  125     130       90
 646.1   646.1             White Kyurem  DRAGON    700  125     120       90
 646.2   646.2             Black Kyurem  DRAGON    700  125     170      100
 691       691                 Dragalge  DRAGON    494   65      75       90
 696       696                   Tyrunt  DRAGON    362   58      89       77
 697       697                Tyrantrum  DRAGON    521   82     121      119
 704       704                    Goomy  DRAGON    300   45      50       35
 705       705                  Sliggoo  DRAGON    452   68      75       53
 706       706                   Goodra  DRAGON    600   90     100       70
 714       714                   Noibat  DRAGON    245   40      30       35
 715       715                  Noivern  DRAGON    535   85      70       80
 718       718                  Zygarde  DRAGON    600  108     100      121

        Special Attack  Special Defense  Speed
#
 006.1             130               85    100
 147                50               50     50
 148                70               70     70
 149               100              100     80
 181.1             165              110     45
 230                95               95     85
 329                50               50     70
 330                80               80    100
 334                70              105     80
 371                40               30     50
 372                60               50     50
 373               110               80    100
 380               110              130    110
 381               130              110    110
 384               150               90     95
 443                40               45     42
 444                50               55     82
 445                80               85    102
 445.1             120               95     92
 483               150              100     90
 484               150              120    100
 487               100              120     90
 487.1             120              100     90
 610                30               40     57
 611                40               50     67
 612                60               70     97
 621                60               90     48
 633                45               50     38
 634                65               70     58
 635               125               90     98
 643               150              120     90
 644               120              100     90
 646               130               90     95
 646.1             170              100     95
 646.2             120               90     95
 691                97              123     44
 696                45               45     48
 697                69               59     71
 704                55               75     40
 705                83              113     60
 706               110              150     80
 714                45               40     55
 715                97               80    123
 718                81               95     95

ELECTRIC
             #                        Name      Type  Total   HP  Attack  \
#
 025       025                     Pikachu  ELECTRIC    300   35      55
 026       026                      Raichu  ELECTRIC    475   60      90
 081       081                   Magnemite  ELECTRIC    325   25      35
 082       082                    Magneton  ELECTRIC    465   50      60
 100       100                     Voltorb  ELECTRIC    330   40      30
 101       101                   Electrode  ELECTRIC    480   60      50
 125       125                  Electabuzz  ELECTRIC    490   65      83
 135       135                     Jolteon  ELECTRIC    525   65      65
 145       145                      Zapdos  ELECTRIC    580   90      90
 170       170                    Chinchou  ELECTRIC    330   75      38
 171       171                     Lanturn  ELECTRIC    460  125      58
 172       172                       Pichu  ELECTRIC    205   20      40
 179       179                      Mareep  ELECTRIC    280   55      40
 180       180                     Flaaffy  ELECTRIC    365   70      55
 181       181                    Ampharos  ELECTRIC    500   90      75
 181.1   181.1               Mega Ampharos  ELECTRIC    610   90      95
 239       239                      Elekid  ELECTRIC    360   45      63
 243       243                      Raikou  ELECTRIC    580   90      85
 309       309                   Electrike  ELECTRIC    295   40      45
 310       310                   Manectric  ELECTRIC    475   70      75
 310.1   310.1              Mega Manectric  ELECTRIC    575   70      75
 310.1   310.1              Mega Manectric  ELECTRIC    575   70      75
 311       311                      Plusle  ELECTRIC    405   60      50
 312       312                       Minun  ELECTRIC    405   60      40
 403       403                       Shinx  ELECTRIC    263   45      65
 404       404                       Luxio  ELECTRIC    363   60      85
 405       405                      Luxray  ELECTRIC    523   80     120
 417       417                   Pachirisu  ELECTRIC    405   60      45
 462       462                   Magnezone  ELECTRIC    535   70      70
 466       466                  Electivire  ELECTRIC    540   75     123
 479       479                       Rotom  ELECTRIC    440   50      50
 479.1   479.1                  Heat Rotom  ELECTRIC    520   50      65
 479.2   479.2                  Wash Rotom  ELECTRIC    520   50      65
 479.3   479.3                 Frost Rotom  ELECTRIC    520   50      65
 479.4   479.4                   Fan Rotom  ELECTRIC    520   50      65
 479.5   479.5                   Mow Rotom  ELECTRIC    520   50      65
 522       522                     Blitzle  ELECTRIC    295   45      60
 523       523                   Zebstrika  ELECTRIC    497   75     100
 587       587                      Emolga  ELECTRIC    428   55      75
 595       595                      Joltik  ELECTRIC    319   50      47
 596       596                  Galvantula  ELECTRIC    472   70      77
 602       602                      Tynamo  ELECTRIC    275   35      55
 603       603                   Eelektrik  ELECTRIC    405   65      85
 604       604                  Eelektross  ELECTRIC    515   85     115
 618       618                    Stunfisk  ELECTRIC    471  109      66
 642       642  Thundurus- Incarnate Forme  ELECTRIC    580   79     115
 642.1   642.1    Thundurus- Therian Forme  ELECTRIC    580   79     105
 644       644                      Zekrom  ELECTRIC    680  100     150
 694       694                  Helioptile  ELECTRIC    289   44      38
 695       695                   Heliolisk  ELECTRIC    481   62      55
 702       702                     Dedenne  ELECTRIC    431   67      58

        Defense  Special Attack  Special Defense  Speed
#
 025         30              50               40     90
 026         55              90               80    100
 081         70              95               55     45
 082         95             120               70     70
 100         50              55               55    100
 101         70              80               80    140
 125         57              95               85    105
 135         60             110               95    130
 145         85             125               90    100
 170         38              56               56     67
 171         58              76               76     67
 172         15              35               35     60
 179         40              65               45     35
 180         55              80               60     45
 181         75             115               90     55
 181.1      105             165              110     45
 239         37              65               55     95
 243         75             115              100    115
 309         40              65               40     65
 310         60             105               60    105
 310.1       80             135               80    135
 310.1       80             135               80    135
 311         40              85               75     95
 312         50              75               85     95
 403         34              40               34     45
 404         49              60               49     60
 405         79              95               79     70
 417         70              45               90     95
 462        115             130               90     60
 466         67              95               85     95
 479         77              95               77     91
 479.1      107             105              107     86
 479.2      107             105              107     86
 479.3      107             105              107     86
 479.4      107             105              107     86
 479.5      107             105              107     86
 522         32              50               32     76
 523         63              80               63    116
 587         60              75               60    103
 595         50              57               50     65
 596         60              97               60    108
 602         40              45               40     60
 603         70              75               70     40
 604         80             105               80     50
 618         84              81               99     32
 642         70             125               80    111
 642.1       70             145               80    101
 644        120             120              100     90
 694         33              61               43     70
 695         52             109               94    109
 702         57              81               67    101

FAIRY
             #            Name   Type  Total   HP  Attack  Defense  \
#
 035       035        Clefairy  FAIRY    323   70      45       48
 036       036        Clefable  FAIRY    473   95      70       73
 039       039      Jigglypuff  FAIRY    270  115      45       20
 040       040      Wigglytuff  FAIRY    425  140      70       45
 122       122        Mr. Mime  FAIRY    460   40      45       65
 173       173          Cleffa  FAIRY    218   50      25       28
 174       174       Igglybuff  FAIRY    210   90      30       15
 175       175          Togepi  FAIRY    245   35      20       65
 176       176         Togetic  FAIRY    405   55      40       85
 183       183          Marill  FAIRY    250   70      20       50

In [62]:
group_result.get_group('BUG')

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
#,,,,,,,,,,
010,010,Caterpie,BUG,195,45,30,35,20,20,45
011,011,Metapod,BUG,205,50,20,55,25,25,30
012,012,Butterfree,BUG,385,60,45,50,80,80,70
013,013,Weedle,BUG,195,40,35,30,20,20,50
014,014,Kakuna,BUG,205,45,25,50,25,25,35
...,...,...,...,...,...,...,...,...,...,...
637,637,Volcarona,BUG,550,85,60,65,135,105,100
649,649,Genesect,BUG,600,71,120,95,120,95,99
664,664,Scatterbug,BUG,200,38,35,40,27,25,35
665,665,Spewpa,BUG,213,45,22,60,27,30,29
666,666,Vivillon,BUG,411,80,52,50,90,50,89